body{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size:15px;
  color:hsl(229, 6%, 66%);
}
h1, h5{
  color:hsl(234, 12%, 34%);
}

/* Header section */
#header{
  text-align:center;
  padding:5% 5% 3%;
}

.header1{
  font-weight:200;
}

.header2{
  font-weight:600;
  margin-bottom:2%;
}

/* contents section */
#contents{
  padding:0 5% 5%;
}

.features{
  padding:8%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 3px hsl(229, 6%, 80%);
  margin: 3%;
  height:230px;
}

.features p{
  font-size:13px;
}

.features img{
  display:block;
  float:right;
}

.features-subtitle{
  font-weight:600;
}

.super{
  border-top:solid 5px hsl(180, 62%, 55%);
}

.team{
  border-top:solid 5px hsl(0, 78%, 62%);
  margin-bottom: 6%;
}

.karma{
  border-top:solid 5px hsl(34, 97%, 64%);
}

.calc{
 border-top:solid 5px hsl(212, 86%, 64%);
}

footer{
  text-align:center;
